@import url('https://fonts.googleapis.com/css?family=Abel');
:root {
	--ui: #b4b4b4;
	--red: #b43232;
	--background: rgba(0, 0, 0, 0.6);
	--spacing: 4px;
	--line: 1.5px;
	--uiFade: 0.5s;
}
body {
	transition: filter var(--uiFade), opacity 2s;
}
* {
	margin: 0;
	padding: 0;
	color: var(--ui);
	box-sizing: border-box;
	line-height: calc(1em + var(--spacing));
	text-align: center;
	font-family: Abel;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
div, img {
	position: absolute;
}
img {
	translate: -50% -50%;
}
.leg-inner, .leg-outer {
	transition: transform 1s;
}
.solar-panel, .drill-inner, .drill-outer {
	transition: transform 0.5s;
}
.solar-panel-cover {
	transition: transform 0.25s;
}
#markers, .marker, #mapMarkers, #info, #markers > div {
	transition: opacity var(--uiFade);
}
.marker > img {
	transition: width var(--uiFade);
}
.resourceOverlay {
	transition-property: width, opacity;
	transition-duration: var(--uiFade);
}
#mapTargetAngle {
	transition: opacity var(--uiFade), height 0.125s;
}
.engine-plume {
	transition: opacity 0.25s;
}
.rcs-plume-top, .rcs-plume-bottom {
	transition: opacity 0.125s;
}
.engine {
	transition: rotate 0.5s;
}
.timeWarpArrow {
	transition: opacity var(--uiFade);
}
hr {
	border: none;
	height: 1px;
	background-color: var(--ui);
	margin-top: calc(var(--spacing) / 2);
	margin-bottom: calc(var(--spacing) / 2);
}
.uiControl {
	cursor: pointer;
}
.body, #starfield {
	transition: filter 1.5s;
}
.background {
	background: var(--background);
	padding: var(--spacing);
	margin: var(--spacing);
	border-radius: var(--spacing);
}
.button {
	text-decoration: underline;
	padding-left: calc(var(--spacing) / 2);
	padding-right: calc(var(--spacing) / 2);
	position: relative;
	border-left: var(--line) solid transparent;
	border-right: var(--line) solid transparent;
	transition: border-color var(--uiFade), opacity var(--uiFade);
}
